*{
    margin:0;
    padding:0;
    box-sizing: border-box;

    /*COLORS*/
    --cor1: #642E68;
    --cor2: #9F295D;
    --cor3: #F3E4EC;
    --cor4: #5775ad;
    --branco: #FFFFFF;
    --branco_sujo: whitesmoke;
    --preto: #000000;

    /*text*/
    text-decoration:none;
    color: var(--preto);
    font-family: 'Lato', sans-serif;

}
html{
    background-color:var(--branco_sujo);
}

body{
    width:100%;
}

.card{
    background-color:var(--branco);
    width:100%;
    border-radius:5px;
    box-shadow: 0px 0px 10px 0px rgba(1, 3, 20, 0.05);
    padding:20px;
    float:left;
}

.hide{
    display:none;
}

.card img{
    width:100%;
    height:250px;
    object-fit: cover;
    object-position:top;
}

h1{
    font-weight:700;
    font-size:5.5rem;
    color: var(--cor1);
    text-align: center;
}

h3{
    width: 100%;
    white-space: normal; /* Permitir quebras de linha */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de linhas a serem exibidas */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height:2.8rem;
    margin-bottom:8px;
}

h5{
    margin: 10px 0px; 
    height:35px;
    color:var(--preto);
    opacity:50%;
    font-size:0.9rem;
    font-weight:500;
}

.btn{
    border: none;
    outline: 2px solid var(--cor4);
    padding: 12px 24px;
    /*background-color: var(--cor3);*/
    cursor: pointer;
    margin:5px;
    border-radius:100px;
    color:var(--cor4);
    font-weight:600;
}

.btn.active {
    background-color: var(--cor4);
    color: var(--branco);
    font-weight:600;
    outline:none;
}

.categorias{
    margin-bottom:80px;
    justify-content: center;
}

.books{
    margin-top:20px;
}

.row2{
    margin-bottom:32px;
    justify-content: center;
    /*justify-content:space-between;*/
}

#order{
   margin-left:40px;
}

#search, #desc{
    display:block;
}

#search-wrapper, #order, h1{
    align-self: center;
}

#search-wrapper {
    width:40%;
    margin-left:5px;
    margin-right:5px;
}

label {
    margin-bottom:40px;
    font-size:1.5rem;
}

#search-wrapper input {
    margin-top:5px;
    padding: 10px 20px;
    width:100%;
    border: 1px solid var(--cor3); 
    border-radius: 5px; 
    outline: none; 
    transition: border-color 0.3s ease; 
}

#search-wrapper input:focus {
    border-color: var(--cor4);
}

#search-wrapper input::placeholder {
    color: #ccc; 
}

.download{ /*texto número*/
    float:right;
    text-align: center;
    border-radius:100px;
    margin: 15px 0 0px 0;
    padding:4px 0px;
    background-color: var(--cor3);
    font-size:0.9rem;
}

.download>div, .download>img{
    display:inline;
}

.download>div{
    align-self:end;
    margin-right:2px;
}

.download>img{
    width:10%;
    height:auto;
    margin-left:2px;
}


select{
    background-color:var(--cor3);
    color:var(--preto);
    margin-top: 5px;
    padding: 10px 20px;
    width: 100%;
    border: 1px solid var(--cor3);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    font-weight:600;
}

/* Para tablets: */
@media screen and (min-width: 600px) and (max-width: 980px) {
    #search-wrapper {
        width:70%;
    }
    #order{
        margin-left: 5px;
        width:25%;
    }
}

/*para telemóveis*/
@media screen and (min-width: 375px) and (max-width: 600px) {
    #search-wrapper {
        width:100%;
    }

    #order{
        margin-left: 5px;
        margin-top:30px;
    }

    h1{
        font-size:3.0rem;
    }
}

/*para mini teles*/
@media screen and (max-width: 375px) {
    #search-wrapper {
        width:100%;
    }

    #order{
        margin-left: 5px;
        margin-top:30px;
    }

    h1{
        font-size:3.0rem;
    }
}